html {
    scroll-behavior: smooth;
}
body {
    // background: #ffffff;
}

nav {
    h2 {
        padding-left: 0.5rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    margin-bottom: .2em;
    // text-shadow: 2px 1px 2px $success-color;
}

h1 {
    margin-bottom: .5em;
}

p.lead {
    font-size: $font-size-lg;
    color: lighten($body-font-color, 10%);
}
// li.allegato {
//     @include allegati("\e9cd", $gray-color-dark);
// }

// li.modulo {
//     @include allegati("\e926", $cr-blue);
// }

// li.pubbli {
//     @include allegati("\e91f", $cr-bordeaux);
// }

// li.all-titolo {
//     @include titolo-allegati();
// }
// header.navbar {
//     background: $cr-blue;
//     color: $light-color;
// }

// Breadcrumbs
.breadcrumb {
  .breadcrumb-item {
    color: $primary-color;
    &:not(:last-child) {
      margin-right: $unit-1;

      a {
        color: $success-color;
      }
    }

    &:not(:first-child) {
      &::before {
        color: $primary-color;
      }
    }
  }
}
.testata {
    @extend .column;
    @extend .col-12;
    background: $success-color;
    // background: #006b43;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: $unit-5;
}
.testata-logo {
    @media (max-width: $size-md) {
        img {
            max-width: 60%;
            height: auto;
        }
    }
}
.testata-titolo {
    text-shadow: 0 1px 1px rgba(0,0,0,.50);
    color: $light-color;
    @extend .h2;
    @media (max-width: $size-lg) {
        font-size: 1rem; 
    }
    // @media (max-width: $size-sm) {
    //     font-size: .8rem; 
    // }
}
.testata-barra {
    @extend .columns;
    @extend .bg-primary;
    @extend .text-center;
    border-top: 1px solid lighten($primary-color, 5%);
    border-bottom: 2px solid darken($primary-color, 5%);
    ul {
        @extend .column;
        @extend .col-12;
        margin: .25rem 0;
        li {
            display: inline-block;
            padding: 0px 1rem;
            margin: 0;
            font-weight: bold;
            a,a:visited {
                color: $light-color;
            }
            a:hover, a:focus {
                color: lighten($primary-color, 70%);
            }
        }
    }
}

#mobileSearch {
     display: none;
}
// ******************************
// Struttura delle pagine normali
// ******************************

// Container principale, all'interno trovano posto
// la navigazione sulla sinistra ed il testo della 
// pagina sulla destra.
.main-container {
    @extend .container;
    @extend .grid-xl;
}

.page-navigation {
    @extend .column;
    @extend .col-3;
    @extend .col-md-12;
    border-right: 1px dashed $primary-color;
    @media (max-width: $size-md) {
        order: 2;
    }
    ul {
        @extend .menu;
        li {
            @extend .menu-item;
            h3, h4 {
                @extend .text-primary;
            }
        }
    }
}

.page-content {
    @extend .column;
    @extend .col-8;
    @extend .col-mx-auto;
    @extend .col-md-12;
    @media (max-width: $size-md) {
        order: 1;
    }
}

.btn {
  @include shadow-variant(.3rem);
  @extend .s-rounded;
}

.nav-right {
    border-left: 1px dashed lighten($primary-color, 20%);
}
.nav-left {
    border-right: 1px dashed $primary-color;
}

// Schiarisco lo sfondo dell'item attivo o col fuoco
.menu {
    // @include shadow-variant(.3rem);
    border: none;
    box-shadow: none;
    .menu-item {
        & > a {
            color: $success-color;
            &:hover {
                background: lighten($secondary-color, 20%);
            }
            &:active {
                background: lighten($secondary-color, 20%);
            }
        }
    }
}
.card {
  @include shadow-variant(.3rem);
  padding-bottom: .5rem;
}

footer {
    // $footer-color: lighten($primary-color, 60%);
    $footer-color: lighten($success-color, 75%);
    // $footer-color: #2b0d07;
    // background: darken($primary-color, 10%);
    // background: #231005;
    background: $success-color;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 0;
    // color: $gray-color;
    color: $footer-color;
    font-size: $font-size-sm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 15px;

    .footer-body {
        @extend .container;
        @extend .grid-xl;
        @extend .columns;
    }

    // address {
    //     color: lighten($primary-color, 50%);
    // }

    h2,h3,h4,h5 {
        color: $footer-color;
    }

    a,:visited,:link {
        // color: $warning-color;
        color: lighten($primary-color, 65%);
        &:hover {
            color: lighten($primary-color, 45%);
            text-decoration: none;
        }
    }
    .footer-title {
        color: $footer-color;
        @extend .h3;
        @media (max-width: $size-md) {
            font-size: 1rem; 
        }
        @media (max-width: $size-sm) {
            font-size: .8rem; 
        }
    }

    .footer-info {
        @extend .column;
        @extend .col-4;
        @extend .col-md-12;
    }

    .footer-end {
        @extend .column;
        @extend .col-12;
    }
}

.v-space {
    margin: $unit-4 0;
}

// ul.no-marker {
//     @include no-marker;
// }

ul.news {
    // @include no-marker;
    li {
        padding-bottom: $unit-2;
        // @include dash-separator;
    }
}

figure.hero-figure {
    margin  : 0 0 $layout-spacing 0;
    position: relative;
    figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        float: left;
        text-align: left;
        color: $warning-color;
        margin: 0;
        padding: $unit-6 $unit-4;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        a {
            text-shadow: 0px -1px 1px rgba(0,0,0,.95);
            color: lighten($primary-color, 20%);
        }
        
    }
}

figure.figure {
    padding-top: .3rem;
    @extend .text-center;
    border: 3px double $gray-color;
    // @include shadow-variant(.3rem);
    figcaption {
        font-style: italic;
        color: $gray-color-light;
        background: darken($gray-color-dark, 25%);
    }
}
// Ho creato un mixin goodtable per formattare decentemente le tabelle
// e lo includo nello stile dell'elemento
// table {
//     @include goodtable;
// }

// Estendo il tag <article class="pagina"> per includere tutte le proprietà
// di layout per una corretta visualizzazione. 
// article.pagina {
//     @extend .column;
//     @extend .col-lg-12;
//     @extend .col-xl-9;
//     @extend .col-2x-8;
//     @extend .col-8;
// }
// nav.pagina-nav {
//     @extend .column;
//     @extend .col-lg-12;
//     @extend .col-xl-3;
//     @extend .col-2x-4;
//     @extend .col-4;
// }

address {
    a[href^="mailto:"] {
        &:before {
            position: relative;
            padding-right: .2rem;
            font-family: "icomoon";
            content: "\e945";
        }
    }
    a[href^="tel:"] {
        &:before {
            position: relative;
            padding-right: .2rem;
            font-family: "icomoon";
            content: "\e942";
        }
    }
}

// Colonne homepage
.home-sx {
    @extend .col-6;
    @extend .col-sm-12;
}
.home-dx {
    @extend .col-6;
    @extend .col-sm-12;
}

.home-wide {
    @extend .col-8;
    @extend .col-sm-12;
}
.home-narrow {
    @extend .col-4;
    @extend .col-sm-12;
}

section.home-section {
    padding-bottom: 6rem;
}
section.home-section-first {
    padding-bottom: 6rem;
    padding-top: 2rem;
}
section.home-section-last {
    padding-bottom: 0;
}
// Colonne pagine normali
.pagina-dx {
    @extend .col-8;
    @extend .col-mx-auto;
    @extend .col-sm-12;
}
// // cambio l'ordine di visualizzazione delle colonne in home page
// // per device con larghezza dello schermo inferiore ai 600px
// .home-sx {
//     order: 3;
// }
// .home-cx {
//     order: 1;
// }
// .home-dx {
//     order: 2;
// }
// @media (max-width: $size-lg) {
//     .home-sx {
//         order: 2;
//     }
//     .home-cx {
//         order: 1;
//     }
//     .home-dx {
//         order: 3;
//     }
//     .pagina-content {
//         order: 1;
//     }
//     .pagina-navigation {
//         order: 2;
//     }
// }

.container {
    margin-left: auto;
    margin-right: auto;
}

// Classi per allineare le figure a destra e a sinistra
// con una larghezza massima del 40% del blocco
figure.sinistra {
    max-width: 40%;
    height: auto;
    align: left;
}

figure.destra {
    max-width: 40%;
    height: auto;
    float: right;
}

@media print {
    header, 
    footer, 
    nav,
    .testata,
    ul.breadcrumb {
        display: none;
    }
    body {
        font-size: 14px;
    }
    h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
    h1 {
        font-size: 22px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        border-bottom: 2px solid #444;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
}
